<template>
  <v-layout :class="isLoading ? 'fill-height' : ''">
    <v-flex v-if="isLoading" d-flex align-self-center xs12>
      <v-layout justify-center>
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </v-layout>
    </v-flex>
    <v-layout v-if="!isLoading" column align-content-top>
      <page-header>
        <template slot="content">
          <card-tracker
            title="Total Quarantined"
            :value="getRawUsers.length.toString()"
            icon="assignment_ind"
            type="count"
            color="green--text text--accent-3"
          ></card-tracker>
          <card-tracker
            title="Latest Quarantined"
            :value="latestQuarantined"
            icon="history"
            type="timeAgo"
            color="accent--text"
          ></card-tracker>
        </template>
      </page-header>
      <v-layout>
        <v-flex xs12>
          <v-card>
            <v-card-text>
              <v-layout justify-end align-center>
                <v-btn @click="addQuarantined" class="ml-5" color="accent">
                  New Quarantined
                </v-btn>
              </v-layout>
              <v-layout align-center>
                <v-text-field label="Search" v-model="search"></v-text-field>
              </v-layout>
              <v-data-table
                :headers="headers"
                :items="getFormattedUsers"
                :search="search"
              >
                <template v-slot:items="{ item }">
                  <tr :class="customColor(item)">
                    <td>
                      <v-layout>
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <v-icon
                              medium
                              @click="sendVerificationRequest(item)"
                              v-on="on"
                              :disabled="!item.fcmKey"
                              class="cursor__pointer error--text mr-2"
                              >location_on</v-icon
                            >
                          </template>
                          <span>Verify location</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <v-icon
                              medium
                              @click="showVerification(item.verifications)"
                              v-on="on"
                              :disabled="!item.verifications.length"
                              class="cursor__pointer accent--text mr-2"
                              >list</v-icon
                            >
                          </template>
                          <span>Check verification</span>
                        </v-tooltip>
                      </v-layout>
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.email }}</td>
                    <td>
                      {{ item.quarantineStartedAt }}
                    </td>
                    <td>
                      {{ item.quarantineEndsAt }}
                    </td>
                    <td>
                      <v-icon
                        :class="item.fcmKey ? 'success--text' : 'error--text'"
                        >{{ item.fcmKey ? "check" : "close" }}</v-icon
                      >
                    </td>
                  </tr>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-layout>
    <v-dialog v-model="verificationDialog" persistent max-width="60%">
      <card-verifications
        :verifications="userVerifications"
        @closeDialog="verificationDialog = false"
      ></card-verifications>
    </v-dialog>
    <v-dialog v-model="addQuarantinedDialog" persistent max-width="50%">
      <card-add-quarantined
        @closeDialog="addQuarantinedDialog = false"
      ></card-add-quarantined>
    </v-dialog>
  </v-layout>
</template>

<script>
import CardTracker from "@/components/CardTracker";
import CardVerifications from "@/components/CardVerifications";
import CardAddQuarantined from "@/components/CardAddQuarantined";
import PageHeader from "@/components/PageHeader";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Dashboard",
  components: {
    CardTracker,
    CardVerifications,
    CardAddQuarantined,
    PageHeader,
  },
  data() {
    return {
      isLoading: true,
      search: "",
      verificationDialog: false,
      addQuarantinedDialog: false,
      userVerifications: [],
      headers: [
        {
          text: "Actions",
          sortable: false,
          value: "",
        },
        { text: "Name", sortable: true, value: "name" },
        { text: "Phone", sortable: true, value: "quarantine[phone]" },
        { text: "Email", sortable: true, value: "email" },
        {
          text: "Quarantined since",
          sortable: true,
          value: "quarantine[created_at]",
        },
        {
          text: "Quarantined till",
          sortable: true,
          value: "quarantine[expires_at]",
        },
        { text: "Device activated", sortable: true, value: "fcmKey" },
      ],
    };
  },
  async created() {
    await this.fetch();
    this.isLoading = false;
  },
  methods: {
    ...mapActions("users", ["fetch", "requestVerification", "registerUser"]),
    showVerification(verifications) {
      this.userVerifications = verifications;
      this.verificationDialog = true;
    },
    sendVerificationRequest(user) {
      this.requestVerification(user.id);
    },
    addQuarantined() {
      this.addQuarantinedDialog = true;
    },
    customColor(user) {
      if (!user.verifications.length < 3) return "primary--text";
      const lastThreeVerifications = user.verifications.slice(0, 3);
      const approvedVerifications = lastThreeVerifications.filter(
        (verification) => verification.status.toLowerCase() === "approved"
      );
      switch (approvedVerifications.length) {
        case 3:
          return "success--text";
        case 0:
          return "red--text";
        default:
          return "primary--text";
      }
    },
  },
  computed: {
    ...mapGetters("users", ["getFormattedUsers", "getRawUsers"]),
    latestQuarantined() {
      let latestUnixTimestamp = 0;
      this.getRawUsers.filter((user) => {
        if (user.created_at > latestUnixTimestamp) {
          latestUnixTimestamp = user.created_at;
        }
      });
      return latestUnixTimestamp.toString();
    },
  },
};
</script>
