<template>
  <v-layout fill-height align-center justify-center class="login">
    <v-card min-width="350">
      <v-card-title>
        <v-layout>
          <logo width="200px"></logo>
        </v-layout>
      </v-card-title>
      <v-card-text>
        <v-form ref="loginForm" v-model="valid">
          <v-text-field v-model="form.email" :rules="emailRules" required prepend-inner-icon="mail" label="Email"></v-text-field>
          <v-text-field v-model="form.password" type="password" :rules="[v => !!v || 'Password is required']" required prepend-inner-icon="lock" label="Password"></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-layout justify-center class="mt-4">
          <v-btn class="login__btn" color="accent" @click="submitForm">Login</v-btn>
        </v-layout>
      </v-card-actions>
    </v-card>
  </v-layout>
</template>

<script>
import Logo from "@/components/Logo.vue";
import {mapActions, mapState} from 'vuex';
export default {
  name: "Login",
  components: {
    Logo,
  },
  data() {
    return {
      form: {
        email: '',
        password: ''
      },
      valid: false,
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
    }
  },
  methods: {
    ...mapState('account', ['error']),
    ...mapActions('account', ['login']),
    async submitForm() {
      if(this.$refs.loginForm.validate()) {
        await this.login(this.form)
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.login {
  background-color: $primaryColor;
  &__btn {
    color: $accentColor;
    background-color: $primaryColor;
  }
}
</style>
