<template>
  <v-layout :class="isLoading ? 'fill-height' : ''">
    <v-flex v-if="isLoading" d-flex align-self-center xs12>
      <v-layout justify-center>
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </v-layout>
    </v-flex>
    <v-layout v-if="!isLoading" column>
      <page-header>
        <template slot="content">
          <h1 class="page-title">Settings</h1>
        </template>
      </page-header>
      <v-layout justify-center>
        <v-card min-width="400" class="mt-5">
          <v-card-text>
            <v-form ref="form" v-model="valid">
              <v-text-field
                label="Verification frequency"
                required
                :rules="rules.notEmpty"
                v-model="parsedSettings.frequency"
              ></v-text-field>
              <v-text-field
                label="Verification TTL"
                required
                :rules="rules.notEmpty"
                v-model="parsedSettings.ttl"
              ></v-text-field>
              <v-text-field
                label="Maximum allowed distance"
                required
                :rules="rules.notEmpty"
                v-model="parsedSettings.distance"
              ></v-text-field>
              <v-text-field
                label="Image equality confidence"
                required
                :rules="rules.notEmpty"
                v-model="parsedSettings.confidence"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-layout justify-center>
              <v-btn class="accent">Update</v-btn>
            </v-layout>
          </v-card-actions>
        </v-card>
      </v-layout>
    </v-layout>
  </v-layout>
</template>

<script>
import PageHeader from "@/components/PageHeader";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Settings",
  components: {
    PageHeader,
  },
  data() {
    return {
      isLoading: true,
      valid: false,
      rules: {
        notEmpty: [(v) => !!v || "This field is required"],
      },
    };
  },
  async created() {
    await this.fetchSettings();
    this.isLoading = false;
    const settings = this.getSettings;
    this.parsedSettings = {
      frequency: settings.verification_frequency_minutes,
      ttl: settings.verification_ttl_minutes,
      distance: settings.allowed_distance,
      confidence: settings.min_confidence,
    };
  },

  methods: {
    ...mapActions("settings", ["fetchSettings"]),
    submit() {
      if (this.$refs.form.validate()) {
          this.setSettings(this.settings)
      }
    },
  },
  computed: {
    ...mapGetters("settings", ["getSettings"]),
  },
};
</script>

<style lang="scss" scoped>
.page-title {
  font-size: 40px;
  color: #fff;
}
</style>
