<template>
  <v-card>
    <v-card-text class="primary">
      <h2 class="white--text">Add New Quarantined</h2>
    </v-card-text>
    <v-card-text>
      <v-form ref="form" v-model="valid">
        <v-text-field
          required
          :rules="rules.notEmpty"
          v-model="user.name"
          prepend-icon="person"
          label="Names"
        ></v-text-field>
        <v-text-field
          required
          :rules="rules.email"
          v-model="user.email"
          prepend-icon="email"
          label="Email"
        ></v-text-field>
        <v-text-field
          required
          :rules="rules.notEmpty"
          v-model="user.phone"
          prepend-icon="phone"
          label="Phone"
        ></v-text-field>
        <v-text-field
          required
          :rules="rules.notEmpty"
          v-model="user.ucn"
          prepend-icon="assignment_ind"
          label="Unique citizenship number"
        ></v-text-field>
        <v-menu
          v-model="dateMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="computedDateFormatted"
              label="Quarantine End Date"
              required
              read-only
              :rules="rules.notEmpty"
              prepend-icon="event"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            :min="new Date().toISOString().substr(0, 10)"
            v-model="date"
            @input="dateMenu = false"
          ></v-date-picker>
        </v-menu>
        <vuetify-google-autocomplete
          id="map"
          prepend-icon="navigation"
          label="Location"
          :rules="rules.notEmpty"
          v-on:placechanged="getAddressData"
        >
        </vuetify-google-autocomplete>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-layout justify-space-between>
        <v-btn color="error" @click="clearAndClose">Cancel</v-btn>
        <v-btn color="accent" :loading="isLoading" @click="submit"
          >Submit</v-btn
        >
      </v-layout>
    </v-card-actions>
  </v-card>
</template>

<script>
import moment from "moment";
import { mapActions } from "vuex";
export default {
  name: "CardAddQuarantined",
  data() {
    return {
      valid: false,
      isLoading: false,
      user: {
        name: "",
        email: "",
        phone: "",
        ucn: "",
        lat: "",
        lng: "",
      },
      rules: {
        email: [
          (v) => !!v || "E-mail is required",
          (v) => /.+@.+/.test(v) || "E-mail must be valid",
        ],
        notEmpty: [(v) => !!v || "This field is required"],
      },
      dateMenu: false,
      quarantineDate: "",
      date: new Date().toISOString().substr(0, 10),
      autocomplete: null,
    };
  },
  mounted() {},
  methods: {
    ...mapActions("users", ["registerUser"]),
    async submit() {
      if (this.$refs["form"].validate()) {
        this.isLoading = true;
        this.user['quarantine_date'] = new Date(this.date).getTime() / 1000;
        await this.registerUser(this.user);
        this.isLoading = false;
        this.clearAndClose()
      }
    },
    clearAndClose() {
      this.$refs["form"].reset();
      this.$emit("closeDialog");
    },
    getAddressData(data) {
      this.user.lat = data.latitude;
      this.user.lng = data.longitude;
      return data.name;
    },
  },
  computed: {
    computedDateFormatted: {
      get() {
        return moment(this.date).format("DD-MMM-YYYY");
      },
      set(value) {
        if (!value) return;
        this.quarantineDate = "";
      },
    },
  },
};
</script>

<style></style>
