<template>
  <v-card>
    <v-card-text class="primary">
      <h2 class="white--text">Verifications</h2>
    </v-card-text>
    <v-card-text>
      <v-data-table
        :headers="headersVerification"
        :items="verifications"
        :rows-per-page-items="['5']"
        rows-per-page-text="Резултати на страница"
      >
        <template v-slot:items="{ item }">
          <tr class="primary--text">
            <td>{{ item.sendAt }}</td>
            <td>{{ item.confirmed }}</td>
            <td :class="colorBasedOnStatus(item.status)">{{ item.status }}</td>
            <td>
              {{ item.reason }}
            </td>
            <td>
              {{ item.distance }}
            </td>
            <td>
              <v-icon
                :class="
                  item.isImageIdentical === true
                    ? 'success--text'
                    : 'error--text'
                "
                >{{
                  item.isImageIdentical === true ? "check" : "close"
                }}</v-icon
              >
            </td>
            <td>
              {{ item.lat }}
            </td>
            <td>
              {{ item.lng }}
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card-text>
    <v-card-actions>
      <v-layout justify-end>
        <v-btn class="accent" @click="$emit('closeDialog')">ok</v-btn>
      </v-layout>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "CardVerifications",
  props: {
    verifications: {
      required: true,
      type: Array,
    },
  },
  data() {
    return {
      headersVerification: [
        { text: "Send at", value: "sendAt" },
        { text: "Confirmed at", value: "confirmed" },
        { text: "Status", value: "status" },
        { text: "Reason", value: "reason" },
        { text: "Distance", value: "distance" },
        { text: "Image", value: "isImageIdentical" },
        { text: "Lat", value: "lat" },
        { text: "Lng", value: "lng" },
      ],
    };
  },
  methods: {
    colorBasedOnStatus(status) {
      switch (status.toLowerCase()) {
        case "expired":
          return "error--text";
        case "rejected":
          return "error--text";
        case "failed":
          return "error--text";
        case "approved":
          return "success--text";
        default:
          return "primary--text";
      }
    },
  },
};
</script>

<style></style>
