<template>
  <v-layout class="trackers__wrapper elevation-2">
    <v-layout column>
      <h3 class="title">{{ title }}</h3>
      <p class="sub-title" v-if="parsedValue.length > 0">{{ parsedValue }}</p>
    </v-layout>
    <v-icon class="icon" :class="color" x-large>{{ icon }}</v-icon>
  </v-layout>
</template>

<script>
import moment from 'moment';
export default {
  name: "CardTracker",
  props: {
    title: {
      required: true,
      type: String,
    },
    value: {
      type: String,
      default: () => "",
    },
    icon: {
      type: String,
      default: () => "",
    },
    color: {
      type: String,
      default: () => "",
    },
    type: {
      required: true,
      type: String
    }
  },
  data() {
    return {
      parsedValue: ''
    }
  },
  mounted() {
    if(this.type === "timeAgo") {
      this.parsedValue = moment(moment.unix(parseInt(this.value))).fromNow()
      return
    }
    this.parsedValue = this.value
  }
};
</script>

<style lang="scss" scoped>
.trackers {
  &__wrapper {
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    max-width: 500px;
    max-height: 80px;
    width: 100%;
    .title {
      font-size: 22px;
    }
    .sub-title {
      font-size: 18px;
    }
  }
}
</style>
