<template>
  <v-layout justify-center align-center>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 1000 800"
      enable-background="new 0 0 1000 800"
      xml:space="preserve"
      id="logo"
      v-if="logoWithIcon"
      :width="width"
      :fill="fill"
    >
      <g id="Layer_2">
        <g>
          <path
            fill="#1C3050"
            d="M432.803,171.24c4.705,0,8.525-3.819,8.525-8.525c0-4.642-3.773-8.525-8.525-8.525
			c-4.705,0-8.525,3.819-8.525,8.525C424.279,167.458,428.148,171.24,432.803,171.24z"
          />
          <path
            fill="#1C3050"
            d="M501,517.339c2.627,0,5.108-1.212,6.726-3.287C513.82,506.227,657,321.46,657,239.437
			c0-82.982-69.539-158.557-156-158.557c-86.375,0-156,75.483-156,158.557c0,82.023,143.18,266.79,149.274,274.615
			C495.892,516.127,498.373,517.339,501,517.339z M362.049,239.437c0-75.383,64.93-141.508,138.951-141.508
			s138.951,66.126,138.951,141.508c0,63.432-100.717,204.65-138.951,255.325C462.49,443.731,362.049,302.709,362.049,239.437z"
          />
          <path
            fill="#1C3050"
            d="M611.82,239.437c0-61.107-49.712-110.82-110.82-110.82c-14.548,0-27.985,2.664-42.287,8.385
			c-4.369,1.748-6.497,6.71-4.748,11.082c1.752,4.369,6.71,6.497,11.082,4.748c12.387-4.955,23.476-7.166,35.953-7.166
			c51.704,0,93.771,42.067,93.771,93.77s-42.067,93.77-93.771,93.77s-93.77-42.067-93.77-93.77c0-16.047,4.026-31.454,11.961-45.803
			c2.278-4.119,0.786-9.304-3.333-11.585c-4.119-2.278-9.307-0.786-11.585,3.333c-9.35,16.899-14.092,35.087-14.092,54.055
			c0,61.107,49.712,110.82,110.82,110.82S611.82,300.544,611.82,239.437z"
          />
          <path
            fill="#1C3050"
            d="M466.902,290.585h68.197c4.708,0,8.525-3.816,8.525-8.525v-47.615l2.497,2.494
			c3.33,3.33,8.724,3.33,12.054,0c3.33-3.327,3.33-8.724,0-12.054l-51.148-51.148c-3.33-3.33-8.724-3.33-12.054,0l-51.148,51.148
			c-3.33,3.33-3.33,8.724,0,12.054c3.33,3.33,8.724,3.33,12.054,0l2.497-2.494v47.615
			C458.377,286.769,462.193,290.585,466.902,290.585z M501,191.819l25.574,25.574v56.142h-51.148v-56.142L501,191.819z"
          />
        </g>
      </g>
      <g id="Layer_3">
        <g>
          <path
            fill="#1C3050"
            d="M97.294,597.784c10.875-10.336,26.343-15.506,46.405-15.506c20.059,0,35.556,5.199,46.489,15.592
			c10.93,10.396,16.398,25.531,16.398,45.407c0,13.253-2.451,24.417-7.353,33.5c-4.903,9.081-12.032,15.963-21.386,20.647
			l26.541,27.243h-44.46l-17.919-20.389c-19.609-0.343-34.684-5.681-45.221-16.022c-10.539-10.336-15.806-25.329-15.806-44.978
			C80.981,623.288,86.417,608.123,97.294,597.784z M162.041,617.917c-4.226-4.909-10.341-7.368-18.342-7.368
			c-8.003,0-14.089,2.458-18.257,7.368c-4.171,4.913-6.255,11.539-6.255,19.877v10.965c0,8.34,2.084,14.966,6.255,19.877
			c4.168,4.913,10.254,7.367,18.257,7.367c8.001,0,14.116-2.455,18.342-7.367c4.227-4.911,6.339-11.537,6.339-19.877v-10.965
			C168.38,629.456,166.267,622.83,162.041,617.917z"
          />
          <path
            fill="#1C3050"
            d="M289.081,702.22l-2.197-13.708c-3.495,4.913-8.089,8.768-13.778,11.566
			c-5.693,2.798-11.694,4.198-18.004,4.198c-10.37,0-18.147-2.913-23.329-8.74c-5.186-5.825-7.777-14.221-7.777-25.187v-58.601
			h33.642v54.488c0,3.885,0.985,6.998,2.958,9.339c1.97,2.343,4.76,3.512,8.368,3.512c4.168,0,7.549-1.37,10.143-4.113
			c2.591-2.741,3.888-6.109,3.888-10.108v-53.117h33.642v90.47H289.081z"
          />
          <path
            fill="#1C3050"
            d="M414.517,616.632c8.563,4.627,12.848,12.14,12.848,22.533v35.297c0,1.944,0.449,3.542,1.353,4.797
			c0.9,1.258,2.253,1.886,4.057,1.886h6.086v19.705c-0.338,0.229-1.212,0.599-2.62,1.113c-1.411,0.515-3.41,1.029-6.001,1.543
			c-2.594,0.514-5.579,0.771-8.96,0.771c-6.538,0-11.918-1.002-16.144-2.999c-4.227-1.998-7.13-4.769-8.706-8.311
			c-4.284,3.427-9.073,6.169-14.369,8.226c-5.299,2.055-11.496,3.084-18.596,3.084c-20.962,0-31.443-8.452-31.443-25.359
			c0-8.795,2.338-15.508,7.015-20.133c4.675-4.627,11.411-7.798,20.202-9.511c8.791-1.714,20.286-2.57,34.487-2.57v-4.454
			c0-3.539-1.212-6.225-3.635-8.054c-2.425-1.826-5.552-2.741-9.382-2.741c-3.495,0-6.508,0.629-9.044,1.884
			c-2.536,1.258-3.803,3.256-3.803,5.997v0.686h-33.134c-0.114-0.571-0.169-1.37-0.169-2.399c0-8.567,4.028-15.363,12.087-20.389
			c8.056-5.027,19.581-7.54,34.57-7.54C394.849,609.693,405.95,612.005,414.517,616.632z M372.507,665.979
			c-4.564,2.115-6.846,4.943-6.846,8.482c0,5.714,3.83,8.567,11.496,8.567c4.396,0,8.254-1.2,11.58-3.598
			c3.323-2.399,4.987-5.368,4.987-8.91v-7.711C384.143,662.81,377.072,663.868,372.507,665.979z"
          />
          <path
            fill="#1C3050"
            d="M506.481,611.749v23.132h-18.935v34.44c0,4.113,0.676,7.112,2.028,8.996
			c1.352,1.886,3.832,2.828,7.44,2.828h9.468v20.048c-2.707,0.915-6.201,1.653-10.482,2.227c-4.284,0.571-8.005,0.857-11.158,0.857
			c-9.919,0-17.555-1.829-22.907-5.483c-5.355-3.654-8.03-9.879-8.03-18.677v-45.234h-12.51v-23.132h13.862l7.27-27.415h25.019
			v27.415H506.481z"
          />
          <path
            fill="#1C3050"
            d="M583.227,610.464c2.028,0.629,3.044,1.001,3.044,1.113v28.615h-10.82c-6.989,0-12.033,1.829-15.13,5.483
			c-3.102,3.658-4.65,9.081-4.65,16.278v40.266h-33.64v-90.47h27.554l2.199,13.708c2.028-5.253,5.241-9.223,9.635-11.909
			c4.396-2.682,9.354-4.026,14.877-4.026C578.888,609.522,581.199,609.837,583.227,610.464z"
          />
          <path
            fill="#1C3050"
            d="M677.385,616.632c8.564,4.627,12.848,12.14,12.848,22.533v35.297c0,1.944,0.448,3.542,1.352,4.797
			c0.902,1.258,2.254,1.886,4.058,1.886h6.086v19.705c-0.338,0.229-1.213,0.599-2.62,1.113c-1.411,0.515-3.41,1.029-6,1.543
			c-2.595,0.514-5.579,0.771-8.961,0.771c-6.538,0-11.919-1.002-16.144-2.999c-4.227-1.998-7.13-4.769-8.706-8.311
			c-4.285,3.427-9.074,6.169-14.37,8.226c-5.298,2.055-11.496,3.084-18.595,3.084c-20.961,0-31.443-8.452-31.443-25.359
			c0-8.795,2.338-15.508,7.016-20.133c4.675-4.627,11.41-7.798,20.2-9.511c8.792-1.714,20.287-2.57,34.487-2.57v-4.454
			c0-3.539-1.211-6.225-3.634-8.054c-2.425-1.826-5.552-2.741-9.382-2.741c-3.494,0-6.507,0.629-9.044,1.884
			c-2.535,1.258-3.803,3.256-3.803,5.997v0.686h-33.135c-0.114-0.571-0.169-1.37-0.169-2.399c0-8.567,4.029-15.363,12.088-20.389
			c8.055-5.027,19.581-7.54,34.57-7.54C657.717,609.693,668.819,612.005,677.385,616.632z M635.375,665.979
			c-4.565,2.115-6.845,4.943-6.845,8.482c0,5.714,3.828,8.567,11.496,8.567c4.394,0,8.254-1.2,11.579-3.598
			c3.323-2.399,4.986-5.368,4.986-8.91v-7.711C647.011,662.81,639.94,663.868,635.375,665.979z"
          />
          <path
            fill="#1C3050"
            d="M794.451,619.202c9.071,6.34,13.609,16.022,13.609,29.044h-32.628c0-10.281-5.522-15.421-16.566-15.421
			c-11.047,0-16.567,6.456-16.567,19.362v9.767c0,12.794,5.748,19.191,17.243,19.191s17.243-5.253,17.243-15.764h31.274
			c0,13.137-4.538,22.904-13.609,29.299c-9.073,6.399-20.936,9.596-35.584,9.596c-15.667,0-27.953-3.998-36.854-11.994
			c-8.904-7.995-13.355-19.762-13.355-35.298c0-15.533,4.451-27.3,13.355-35.297c8.902-7.995,21.187-11.994,36.854-11.994
			C773.515,609.693,785.378,612.862,794.451,619.202z"
          />
          <path
            fill="#1C3050"
            d="M909.067,621.344c8.622,7.769,12.933,19.65,12.933,35.64v5.826h-66.944c0,6.511,1.436,11.424,4.31,14.735
			c2.873,3.315,7.409,4.97,13.609,4.97c5.634,0,9.775-1.2,12.424-3.598c2.647-2.4,3.974-5.596,3.974-9.596H922
			c0,10.967-4.115,19.534-12.341,25.702c-8.228,6.169-20.23,9.253-36.008,9.253c-16.567,0-29.415-3.912-38.544-11.738
			c-9.128-7.823-13.693-19.675-13.693-35.554c0-15.533,4.451-27.3,13.355-35.297c8.902-7.995,21.187-11.994,36.854-11.994
			C887.963,609.693,900.446,613.578,909.067,621.344z M855.225,646.703h32.795c0-4.682-1.325-8.395-3.972-11.138
			c-2.649-2.741-6.339-4.111-11.072-4.111C862.38,631.454,856.463,636.537,855.225,646.703z"
          />
        </g>
      </g>
    </svg>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 1000 200"
      enable-background="new 0 0 1000 200"
      xml:space="preserve"
      v-else
      :width="width"
      :fill="fill"
    >
      <g id="Layer_3">
        <g>
          <path
            fill="#1C3050"
            d="M96.294,44.784c10.875-10.336,26.343-15.506,46.405-15.506c20.059,0,35.556,5.199,46.489,15.592
			c10.93,10.396,16.398,25.531,16.398,45.407c0,13.253-2.451,24.417-7.353,33.5c-4.903,9.081-12.032,15.963-21.386,20.647
			l26.541,27.243h-44.46l-17.919-20.389c-19.609-0.343-34.684-5.681-45.221-16.022c-10.539-10.336-15.806-25.329-15.806-44.978
			C79.981,70.288,85.417,55.123,96.294,44.784z M161.041,64.917c-4.226-4.909-10.341-7.368-18.342-7.368
			c-8.003,0-14.089,2.458-18.257,7.368c-4.171,4.913-6.255,11.539-6.255,19.877v10.965c0,8.34,2.084,14.966,6.255,19.877
			c4.168,4.913,10.254,7.368,18.257,7.368c8.001,0,14.116-2.455,18.342-7.368c4.227-4.911,6.339-11.537,6.339-19.877V84.794
			C167.38,76.456,165.267,69.83,161.041,64.917z"
          />
          <path
            fill="#1C3050"
            d="M288.081,149.22l-2.197-13.708c-3.495,4.913-8.089,8.768-13.778,11.566
			c-5.693,2.798-11.694,4.198-18.004,4.198c-10.37,0-18.147-2.913-23.329-8.74c-5.186-5.825-7.777-14.221-7.777-25.187V58.749
			h33.642v54.488c0,3.885,0.985,6.998,2.958,9.339c1.97,2.343,4.76,3.512,8.368,3.512c4.168,0,7.549-1.37,10.143-4.113
			c2.591-2.741,3.888-6.109,3.888-10.108V58.749h33.642v90.47H288.081z"
          />
          <path
            fill="#1C3050"
            d="M413.517,63.632c8.563,4.627,12.848,12.14,12.848,22.533v35.297c0,1.944,0.449,3.542,1.353,4.797
			c0.9,1.258,2.253,1.886,4.057,1.886h6.086v19.705c-0.338,0.229-1.212,0.599-2.62,1.113c-1.411,0.515-3.41,1.029-6.001,1.543
			c-2.594,0.514-5.579,0.771-8.96,0.771c-6.538,0-11.918-1.002-16.144-2.999c-4.227-1.998-7.13-4.769-8.706-8.311
			c-4.284,3.427-9.073,6.169-14.369,8.226c-5.299,2.055-11.496,3.084-18.596,3.084c-20.962,0-31.443-8.452-31.443-25.359
			c0-8.795,2.338-15.508,7.015-20.133c4.675-4.627,11.411-7.798,20.202-9.511c8.791-1.713,20.286-2.57,34.487-2.57v-4.454
			c0-3.539-1.212-6.225-3.635-8.054c-2.425-1.826-5.552-2.741-9.382-2.741c-3.495,0-6.508,0.629-9.044,1.884
			c-2.536,1.258-3.803,3.256-3.803,5.997v0.686h-33.134c-0.114-0.571-0.169-1.37-0.169-2.4c0-8.567,4.028-15.363,12.087-20.389
			c8.056-5.027,19.581-7.54,34.57-7.54C393.849,56.693,404.95,59.005,413.517,63.632z M371.507,112.979
			c-4.564,2.115-6.846,4.943-6.846,8.482c0,5.714,3.83,8.567,11.496,8.567c4.396,0,8.254-1.2,11.58-3.598
			c3.323-2.4,4.987-5.368,4.987-8.91v-7.711C383.143,109.81,376.072,110.868,371.507,112.979z"
          />
          <path
            fill="#1C3050"
            d="M505.481,58.749v23.132h-18.935v34.44c0,4.113,0.676,7.112,2.028,8.996
			c1.352,1.886,3.832,2.828,7.44,2.828h9.468v20.048c-2.707,0.915-6.201,1.653-10.482,2.227c-4.284,0.571-8.005,0.857-11.158,0.857
			c-9.919,0-17.555-1.829-22.907-5.483c-5.355-3.654-8.03-9.879-8.03-18.677V81.881h-12.51V58.749h13.862l7.27-27.415h25.019v27.415
			H505.481z"
          />
          <path
            fill="#1C3050"
            d="M582.227,57.464c2.028,0.629,3.044,1.001,3.044,1.113v28.615h-10.82c-6.989,0-12.033,1.829-15.13,5.483
			c-3.102,3.658-4.65,9.081-4.65,16.278v40.266h-33.64v-90.47h27.554l2.199,13.708c2.028-5.252,5.241-9.223,9.635-11.909
			c4.396-2.682,9.354-4.026,14.877-4.026C577.888,56.522,580.199,56.837,582.227,57.464z"
          />
          <path
            fill="#1C3050"
            d="M676.385,63.632c8.564,4.627,12.848,12.14,12.848,22.533v35.297c0,1.944,0.448,3.542,1.352,4.797
			c0.902,1.258,2.254,1.886,4.058,1.886h6.086v19.705c-0.338,0.229-1.213,0.599-2.62,1.113c-1.411,0.515-3.41,1.029-6,1.543
			c-2.595,0.514-5.579,0.771-8.961,0.771c-6.538,0-11.919-1.002-16.144-2.999c-4.227-1.998-7.13-4.769-8.706-8.311
			c-4.285,3.427-9.074,6.169-14.37,8.226c-5.298,2.055-11.496,3.084-18.595,3.084c-20.961,0-31.443-8.452-31.443-25.359
			c0-8.795,2.338-15.508,7.016-20.133c4.675-4.627,11.41-7.798,20.2-9.511c8.792-1.713,20.287-2.57,34.487-2.57v-4.454
			c0-3.539-1.211-6.225-3.634-8.054c-2.425-1.826-5.552-2.741-9.382-2.741c-3.494,0-6.507,0.629-9.044,1.884
			c-2.535,1.258-3.803,3.256-3.803,5.997v0.686h-33.135c-0.114-0.571-0.169-1.37-0.169-2.4c0-8.567,4.029-15.363,12.088-20.389
			c8.055-5.027,19.581-7.54,34.57-7.54C656.717,56.693,667.819,59.005,676.385,63.632z M634.375,112.979
			c-4.565,2.115-6.845,4.943-6.845,8.482c0,5.714,3.828,8.567,11.496,8.567c4.394,0,8.254-1.2,11.579-3.598
			c3.323-2.4,4.986-5.368,4.986-8.91v-7.711C646.011,109.81,638.94,110.868,634.375,112.979z"
          />
          <path
            fill="#1C3050"
            d="M793.451,66.202c9.071,6.34,13.609,16.022,13.609,29.043h-32.628c0-10.281-5.522-15.421-16.566-15.421
			c-11.047,0-16.567,6.456-16.567,19.362v9.767c0,12.794,5.748,19.191,17.243,19.191s17.243-5.252,17.243-15.764h31.274
			c0,13.137-4.538,22.904-13.609,29.3c-9.073,6.399-20.936,9.596-35.584,9.596c-15.667,0-27.953-3.998-36.854-11.994
			c-8.904-7.995-13.355-19.762-13.355-35.298c0-15.533,4.451-27.3,13.355-35.297c8.902-7.995,21.187-11.994,36.854-11.994
			C772.515,56.693,784.378,59.862,793.451,66.202z"
          />
          <path
            fill="#1C3050"
            d="M908.067,68.344C916.69,76.113,921,87.993,921,103.984v5.826h-66.944c0,6.511,1.436,11.424,4.31,14.735
			c2.873,3.315,7.409,4.97,13.609,4.97c5.634,0,9.775-1.2,12.424-3.598c2.647-2.4,3.974-5.596,3.974-9.596H921
			c0,10.967-4.115,19.534-12.341,25.702c-8.228,6.169-20.23,9.253-36.008,9.253c-16.567,0-29.415-3.912-38.544-11.738
			c-9.128-7.823-13.693-19.675-13.693-35.554c0-15.533,4.451-27.3,13.355-35.297c8.902-7.995,21.187-11.994,36.854-11.994
			C886.963,56.693,899.446,60.578,908.067,68.344z M854.225,93.703h32.795c0-4.682-1.325-8.395-3.972-11.137
			c-2.649-2.741-6.339-4.111-11.072-4.111C861.38,78.454,855.463,83.537,854.225,93.703z"
          />
        </g>
      </g>
    </svg>
  </v-layout>
</template>

<script>
export default {
  name: "Logo",
  props: {
    logoWithIcon: {
      type: Boolean,
      default: () => true,
    },
    width: {
        type: String,
        default: () => ''
    },
    fill: {
        type: String,
        default: () => ''
    }
  },
};
</script>

<style></style>
