<template>
  <v-layout justify-space-around align-center class="page-header">
    <slot name="content"></slot>
  </v-layout>
</template>

<script>
export default {
  name: "PageHeader",
};
</script>

<style lang="scss" scoped>
.page-header {
    min-height: 200px;
    background-color: $primaryColor;
    padding: 40px;
}
</style>
