<template>
  <div id="app">
    <router-view/>
    <v-snackbar
      top
      v-model="getSnackbar.show"
      :color="getSnackbar.type"
      :timeout="getSnackbar.timeout"
    >
      {{ getSnackbar.message }}
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters('common',["getSnackbar"]),
  },
}
</script>
