<template>
  <v-app :dark="false">
    <v-layout fill-height>
      <v-navigation-drawer class="dashboard__drawer" permanent>
        <logo :logoWithIcon="false" width="200px" class="pa-3"></logo>
        <v-divider></v-divider>
        <v-list>
          <v-list-tile
            @click="navigateToPage(link.path)"
            class="tile"
            :class="{'is-active': $route.name === link.path}"
            v-for="link in links"
            :key="link.title"
          >
            <v-list-tile-action>
              <v-icon>{{ link.icon }}</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>
                <h4>{{ link.title }}</h4>
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <div class="dashboard__drawer__logout-container pa-3" @click="logOut">
          <v-layout align-center>
            <v-icon class="icon">logout</v-icon>
            <p>Logout</p>
          </v-layout>
        </div>
      </v-navigation-drawer>
      <v-content>
        <router-view />
      </v-content>
    </v-layout>
  </v-app>
</template>
<script>
import Logo from "@/components/Logo";
import { mapActions } from "vuex";
export default {
  components: {
    Logo,
  },
  data() {
    return {
      links: [
        { icon: "dashboard", title: "Dashboard", path: "dashboard" },
        { icon: "settings", title: "Settings", path: "settings" },
      ],
    };
  },
  methods: {
    ...mapActions("account", ["logout"]),
    logOut() {
      this.logout();
    },
    navigateToPage(path) {
      if(this.$route.name === path) return
      this.$router.push({ path });
    },
  },
};
</script>
<style lang="scss">
.dashboard {
  &__drawer {
    .tile {
      background-color: #fff;
      color: $primaryColor;
      i {
        color: $primaryColor;
      }
      &.is-active {
        color: $accentColor;
        i {
          color: $accentColor;
        }
      }
      &:hover {
        background-color: $backgroundColor;
        cursor: pointer;
        i,
        h4 {
          color: $accentColor;
        }
      }
    }
    &__logout-container {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #fff;
      color: rgb(255, 46, 46);
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      i.icon {
        color: rgb(255, 46, 46);
      }
      &:hover {
        cursor: pointer;
        background-color: palevioletred;
        color: #fff;
        i.icon {
          color: #fff;
        }
      }
      p {
        margin: 0px;
        font-size: 16px;
        font-weight: 700;
        margin-left: 24px;
        line-height: 1;
      }
    }
  }
}
</style>
